.input-group.error input {
    border: 1px solid red;
}

.input-group.error label::after {
    content: "Passwords do not match and must be equal or more than 8 characters!";
    color: red;
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
}