@import url("component/body.css");
/*********************************************************************** Header ***********************************************************************/
@import url("component/header.css");
/*********************************************************************** Books section ***********************************************************************/
@import url("component/booklist.css");
/*********************************************************************** Books section ***********************************************************************/
@import url("component/user_comment.css");
/*********************************************************************** Review section ***********************************************************************/
@import url("component/reviewlist.css");
/*********************************************************************** Footer section ***********************************************************************/
@import url("component/footer.css");
/*********************************************************************** Responsive section ***********************************************************************/
@import url("component/responsive.css");

/*********************************************************************** Book detail section ***********************************************************************/

.book_detail {
    display: flex;
    margin: 50px 10px;
    justify-content: center;
}
.detail {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 0;
}
#book_image {
    width: 400px;
    height: 500px;
    margin-right: 50px;
}
.detail #title {
    font-size: 42px;
    padding: 0;
    margin: 0;
}

#price_detail, #author {
    font-weight: bold;
}
#price_detail {
    font-size: 24px;
}
.stars_container {
    display: flex;
    width: 100%;
}
.stars_container img{
    height: 30px;
    width: 30px;
}
.condition {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.condition p {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}
.condition button {
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background:  #e6f0ff;
    cursor: pointer;
}
#chosen {
    background:  royalblue;
    color: white;
}

#quantity_change {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0 10px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

#quantity {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
    width: 100px;
}

#add_to_cart_btn {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 10px 31px;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    font-size: 16px;
}
/*********************************************************************** Admin change section ***********************************************************************/
#edit_book_button, #delete_book_button {
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px 31px;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
    font-size: 16px;
}
.admin_action {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    display: none;
}

.edit_book_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pop_out_btn {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.field {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#save_changes {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    border-radius: 10px;
    width: 100%;
    height: 120px;
}
/*********************************************************************** Related products section ***********************************************************************/
.related_products {
    background-color: #e6f0ff;
}
#related_title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}


@media (max-width: 1024px) { 
    .detail {
        width: 70%;
        align-items: center;
    }
    .stars_container { 
        justify-content: center;
    }
    #book_image { 
        margin: 0;
        width: 350px;
        height: 450px;
        margin-bottom: 20px;
    }
    .detail p {
        text-align: center;
    }
    .book_detail {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 400px) { 
    #book_image {
        width: 300px;
    }
}